

  <div class="container"  id="app">
    <h3>Select Customer</h3>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search"
               [(ngModel)]="filter" name="first" (input)="getCustomer()">
      </div>
    </form>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Customer Name</th>
        <th>Customer email</th>
        <th>Customer PhoneNumber</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td><button class="btn btn-primary" (click)="selectCustomer(customer.id, customer.name)">Select </button></td>
        <!--<td>{{course.id}}</td>-->
        <!--<td><button type="button" class="btn btn-primary" v-on:click="viewBatches(course.id)">Batchs</button></td>-->
        <!--<td>-->
        <!--<button type="button" class="btn btn-primary" v-on:click="changequantity(cartItem.productId,-1)">-</button>-->
        <!--{{cartItem.quantity}}-->
        <!--<button type="button" class="btn btn-primary" v-on:click="changequantity(cartItem.productId,+1)">+</button>-->
        <!--</td>-->

      </tr>
      </tbody>
    </table>
  </div>

